:root {
	--white: rgb(255, 255, 255);
	--yellow: rgb(217, 199, 105);
	--teal: rgb(137, 238, 231);
	--grey: rgb(17, 17, 17);
	--blue: rgb(11, 12, 14);
	--black: rgb(0, 0, 0);
	--overlay: rgba(0, 0, 0, 0.5);

	--size-default: 16px;
	--size-m: 18px;
	--size-l: 24px;
	--size-xl: 50px;
	--size-xxl: 80px;

	--radius: 0;
	--padding: 20px 30px;
	--padding-small: 10px 15px;

	--container: 1200px;

	--space-default: 20px;
	--space-m: 40px;
	--space-l: 100px;

	--family-primary: 'Roboto', sans-serif;
	--family-accent: 'Poppins', sans-serif;

	--transition: 0.2s linear;
}

body {
	font-size: var(--size-default);
	font-weight: 400;
	color: var(--white);
	background-color: var(--black);
	font-family: var(--family-primary);
	line-height: 1.5;
}

h1 {
	font-family: var(--family-accent);
	font-size: var(--size-xxl);
	font-weight: 800;
	line-height: 1.2;
}

h2 {
	font-family: var(--family-accent);
	font-size: var(--size-xl);
	font-weight: 800;
	line-height: 1.2;
}

h3 {
	font-family: var(--family-accent);
	font-size: var(--size-l);
	font-weight: 800;
	line-height: 1.2;
	text-transform: capitalize;
}

h4 {
	font-family: var(--family-accent);
	font-size: var(--size-m);
	font-weight: 600;
	line-height: 1.2;
}

h5 {
	font-family: var(--family-accent);
	font-size: var(--size-default);
	color: var(--teal);
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
}
