@import './defaults.scss';
@import './layout.scss';

:global {
	.bg-grey {
		background-color: var(--grey);
	}

	.bg-blue {
		background-color: var(--blue);
	}

	.bg-green {
		background-color: var(--teal);
	}

	.bg-black {
		background-color: var(--black);
	}

	.bb-white {
		border-bottom: 4px solid var(--white);
	}

	.b-hover {
		transition: all 0.2s ease-in-out;
		border: 3px solid transparent;
	}

	.b-hover:hover {
		border: 3px solid var(--teal);
	}

	.icon-green {
		color: var(--teal);
		font-size: var(--size-xl);
	}

	.icon-white {
		color: var(--white);
		font-size: var(--size-xl);
		transition: all 0.2s ease-in-out;
	}

	.icon-white:hover {
		color: var(--teal);
		transform: scale(1.3);
	}

	.bg-cover {
		background-size: cover;
		background-position: center;
	}

	.b-grey {
		border: 1px solid var(--grey);
	}

	.b-white {
		border: 1px solid var(--white);
	}

	.header {
		position: relative;
		padding: calc(var(--space-l) * 2) 0 var(--space-l);
	}

	.details {
		left: var(--space-m);
		bottom: var(--space-m);
		position: absolute;
	}

	.text-center {
		text-align: center;
	}

	.bg-fixed {
		background-attachment: fixed;
	}
}
